<!DOCTYPE html>
<html lang="en" ng-app="TimelineApp" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>W3 20 Años</title>
  <link rel="icon" type="image/png" href="assets/favicon.png" />
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href="css/styles.css" rel="stylesheet">
</head>

<body ng-controller="TimelineController">
	<header>
		<div class="logo20"></div>
	</header>

	<div class="navegation">
		<div class="back" ng-click="back()"><img src="assets/back.png"></div>			
		<div class="next" ng-click="next()"><img src="assets/next.png"></div>
		<div class="home" ng-click="home()"><img src="assets/home.png"></div>
	</div>

	<div class="info">
		<div class="info_cont hide">
			<h3>Fundación de W3 y primeras oficinas0</h3>
			<p>Breve descripción de lo lo que pasó en ese año, o de que se tratan las fotos. No más de dos o tres lineas porque se va todo al joraca.</p>
		</div>

		<div class="thanks">
			<p>¡Muchas gracias por acompañarnos!</p>
			<div class="logo_w3"></div>
		</div>
	</div>

	<div id="polaroids">
		<div  ng-repeat='row in rows' class="row">
			<div ng-repeat='event in row' class="tile" ng-click="zoom($event)">
				<div class="tile_photos">		
					<div>
						<img ng-src="{{ event.img1 }}">
					</div>
					<div>
						<img ng-src="{{ event.img2 }}">
					</div>
					<div>
						<img ng-src="{{ event.img3 }}">
					</div>
					<div>
						<img ng-src="{{ event.img4 }}">
					</div>
				</div>

				<div class="tile_hover">
					<div>
						<h1>{{ event.title }}<span>[+]</span></h1>
					</div>
				</div>

				<div class="tile_info">
					<h3>{{ event.title }}</h3>
					<p>{{ event.description }}</p>
				</div>
			</div>
		</div>
		<p>{{ init() }}</p>
	</div>

	<footer>
		<p id="footer01"><span></span>| W3 Américas  Todos los derechos reservados</p>
		<p id="footer02">Para más información visite <a href="">www.w3americas.com</a> o contáctenos <a href="">aquí.</a></p>
	</footer>
</body>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="js/vendor/jquery-1.11.0.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/main.js"></script>
<!-- Services -->
<script src="js/services/photos.js"></script>
<!-- Controller -->
<script src="js/controllers/controllers.js"></script>

</html>